<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Cardápio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrinho</ion-label>
      <ion-badge *ngIf="quantidadeCarrinho > 0" color="danger">{{ quantidadeCarrinho }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Resumo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
